@media screen and (min-width: 768px) {
    .contenedor{
        flex-direction: row !important
    }
    .space{
        justify-content: space-between !important;
        width: 125vh !important;
        
    }
    .imgBibiography{
        width: 22% !important;
        height: 22% !important;
    }
}

li{
    font-family: Courier !important;
    font-size: large !important;
    font-weight: 550 !important;
    
}


.fondo{
    background-color: black;
    /* background-image: url(""); */
}