@media screen and (min-width: 768px) {
    .contenedor0{
        flex-direction: row !important
    }
    .space{
        justify-content: space-between !important;
        width: 125vh !important;
        
    }
    .imgBibiography{
        width: 22% !important;
        height: 22% !important;
    }
}

li{
    font-family: Courier !important;
    font-size: large !important;
    font-weight: 550 !important;
    
}


.fondo{
    background-color: black;
    /* background-image: url(""); */
    /* background-image: url("../Assets/Font.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    opacity: none; */
}

.NavBarPrincipal {
    border-bottom:  solid 2px #198754 !important;
}   