.fondo2{
    background-color: black;
    /* background-image: url(""); */
}

@media screen and (min-width: 1000px) {
    .ContenedorEmail{
        flex-direction: row !important;    
    }
    .vr{
        visibility: visible !important;
    }
    .FormContainer{
        height: 100vh;
    }
}







.ContenedorEmail{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px !important;
}

.imgFondo {
    background-image: url("https://img3.wallspic.com/crops/6/0/3/3/6/163306/163306-piton-lenguaje_de_programacion-data-funcion_anonima-lenguaje_de_programacion_de_alto_nivel-3840x2160.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    height: 25vh; /* Ajusta la altura según el viewport */
    opacity: 0.2;
}

.contenedorContact{
    color:  white;
    position: relative;
    margin-top: -200px;
}

h1, h6{
    font-family: Courier;  
    
}

.FormContainer{
    background-color: white;
    /* border-top: solid 5px rgb(25, 135, 84); */
    display: flex;
    justify-content: center;
    align-items: center;
}


.formEmail{
    background-color: white;
    border: solid 1px lightgray;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0.3em 0.3em 1em rgba(80, 79, 79, 0.6);
    font-family: 'Courier';
    font-weight: 800;
}


.formEmail1{
    font-family: 'Courier';
}


.spinner{
    height: 20px !important;
    width: 20px !important;
    margin-left: 5px;
}

