@media screen and (min-width: 500px) {
    .contenedor{
        flex-direction: row !important;
        height: 20vh !important;
        overflow-y: auto;
        
    }
    .space{
        justify-content: space-between !important;
        width: 125vh !important;
    }

    .imgSkill{
       width: 19% !important;
       height: 50% !important;
    }

}

li{
    font-family: Courier;
    font-size: large;
    font-weight: 500;
}


.fondo1{
    /* background-image: url(""); */
    background-color: black;
}